:root {
  --main: #0396A6;
  --grey: #ECEEF0;
  --dark: #606060;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse';
  src: url(./Norse-Bold.otf);
  font-weight: bold;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  min-height: 100vh;
  display: flex;
}

aside {
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: max(33vw, 800px);
  overflow: hidden;
  position: relative;
}

.logo-banner {
  margin-top: 200px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo-img {
  height: 100px;
  width: auto;
}
.logo-text {
  color: white;
  font-family: 'Norse';
  font-weight: bold;
  font-size: 60px;
  line-height: 0;
  position: relative;
  top: 10px;
}

.credits {
  color: white;
  text-align: center;

  position: absolute;
  width: 100%;
  bottom: 1rem;
  opacity: .8;
}
.credits a {
  color: white;
}

main {
  background-color: var(--grey);
  padding: 6rem 2rem 0 2rem;
}

form {
  margin: 2rem -2rem;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: .75em;
}

label {
  color: var(--dark);
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  max-width: 600px;
}
.form-row > div {
  flex: 1;
}
input {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

button {
  color: white;
  font-weight: bold;
  background-color: var(--main);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5rem;
}

a {
  color: var(--main);
}

main > section {
  width: 80%;
}

p.big {
  font-size: 1.25rem;
  line-height: 1.3;
}

.big + .big {
  margin-top: 1em;
}